@keyframes hamburgerAniFirst {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(4px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes hamburgerAniSecond {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-4px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes donutAnimation {
  0% {
    transform: translate(-75px, -60px) rotate(9deg);
  }
  8% {
    transform: translate(-75px, -60px) rotate(9deg);
  }
  16%{
    transform: translate(0px, -60px) rotate(6deg);
  }
  90%{
    transform: translate(0px, -60px) rotate(6deg);    
  }
  100%{
    transform: translate(-75px, -60px) rotate(9deg);
  }
}

@keyframes appleAnimation {
  0% {
    transform: translate(61px, -118px) rotate(0deg);
  }
  10% {
    transform: translate(-40px, -118px) rotate(-11deg);
  }
  90%{
    transform: translate(-40px, -118px) rotate(-11deg);
  }
  100%{
    transform: translate(61px, -118px) rotate(0deg);
  }
}