@import './keyframes.scss';

@media (min-width: 992px) {
	.store-nav {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 991px) {
	.nav-category {
		display: inline-block;
	}

	#searchStore {
		display: inline-block !important;
	}
}

#searchStore {
	display: block;
	padding: .375rem .75rem;
	font-size: 1rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	height: 30px;
	max-width: 150px;
}

.nav-category {
	padding: 0 20px;
	cursor: pointer;
}

.form {
	display: inline-block !important;
}

.product-card {
	margin: 20px 0;
	min-height: 350px;
}

.product-title {
	text-align: center;
	height: 58px;
	overflow: hidden;
}

.product-title a {
	font-size: 22px;
}

.product-title a {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	color: #141414;
}

.product-title:hover {
	color: inherit;
	text-decoration: none;
}

.show-prod {
	margin: 0 auto;
}

.thumbnail {
	padding: 0;
	background-color: mistyrose;
	border-width: 2px;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.card-text {
	margin: 0 19px;
}

.card-text p {
	text-align: center;
}

.product-description {
	height: 47px;
	margin: 5px 0;
	overflow: hidden;
}


.pay-notice {
	font-size: 12px;
	color: #71a1ed;
}

.z-depth-3 {
	@include box-shadow3(0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3));
}

.product-view-container {
	position: absolute;
	top: 10px;
	right: 0;
	left: 0;
	z-index: 1050;
	outline: 0;
	background: #fff;
	width: 95%;
	margin: auto;
	max-width: 900px;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
}

.quantity-btn {
	padding: 1px 8px;
	margin-top: 4px;
	background: #eee;
	transition: 400ms;
}

.quantity-btn:hover {
	background: #ccc;
}

@media(min-width:768px) {
	.product-view-container {
		top: 10px;
		width: 90%;
		// bottom:0;
	}
}

.product-view-container img {
	max-height: 100%;
	padding: 20px 0;
}

.product-view-container h2 {
	margin-top: 20px;
}

.inner-product-description {
	font-size: 0.95em !important;
}

.plus-shipping {
	font-size: 13px !important;
	margin-bottom: 20px !important;
}

.product-back-btn {
	position: absolute;
	bottom: 20px;
	right: 15px;
	font-size: 20px;
	background: #a9a59f;
	color: #fff;
}

.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
	opacity: .5;
}

.load-more {
	margin: 30px;
	font-size: 22px;
}

@media (max-width: 767px) {
	.add-cart-btn{
		width: calc(50% + 15px);
    display: inline-block !important;
    height: 100%;
    margin: 0;
    padding: 9px;
		margin-left: -15px;
		font-size: 18px;
		border-radius: 0;
	}
	.product-back-btn {
		width: 50%;		
		margin-right: -15px;
		bottom: 0;
		padding-bottom: 9px;
		border-radius: 0;
		margin: 0;
		right: 0;
	}
}

// Slider

.slider-col {
	padding: 0;
}

.slider {
	position: relative;
	margin: 0 auto;
	height: 500px;
	overflow: hidden;
	white-space: nowrap;
	min-height: 600px;
	border-radius: 10px;
}

.slider-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 600px;
}

.slide {
	display: inline-block;
	height: 100%;
	width: 100%;
	min-height: 600px;
}

@media (min-width: 767px) {
	.slider {
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
	}
}

@media (max-width: 767px) {
	.slider {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
}

// tooltip

.shipping-tooltip {
	color: #17a2b8 !important;
	font-weight: bold;
	cursor: pointer;
}

[tooltip] {
	position: relative;
	display: inline-block;
}

[tooltip]::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 50%;
	@include transform(translateX(-50%));
	border-width: 4px 6px 0 6px;
	border-style: solid;
	border-color: rgba(23, 162, 184, 0.9)transparent transparent transparent;
	z-index: 99;
	opacity: 0;
	@include transition(400ms);
}

[tooltip-position='top']::before {
	left: 50%;
}

[tooltip]::after {
	content: attr(tooltip);
	position: absolute;
	left: 50%;
	top: 6px;
	@include transform(translateX(-50%) translateY(-100%));
	background: rgba(23, 162, 184, 0.9);
	text-align: center;
	color: #fff;
	font-size: 14px;
	width: 220px;
	border-radius: 5px;
	pointer-events: none;
	padding: 4px 4px;
	z-index: 99;
	opacity: 0;
	@include transition(400ms);
}

@media (max-width:775px) {
	[tooltip]::after {
		width: 150px;
		left: 50px;
	}
}

[tooltip-position='top']::after {
	left: 50%;
}

[tooltip]:hover::after,
[tooltip]:hover::before {
	opacity: 1;
	@include transition(400ms);
	top: -6px;
}